.lead{
    font-weight: 500 !important;
}
        body{
    height: 100vh !important;
    /* position: fixed; */
}

.hero-style{
    border: 2px solid #000000;
    border-radius: 50px;
    background: linear-gradient(#20c997, #50548a);
    filter: drop-shadow(30px 10px 400px #b67a7a);
    box-shadow: -10px 5px 10px rgb(3, 29, 101);
    /* this the padding which pushes hero content to bottom */
}
img{
    box-shadow: -10px 10px 10px rgb(0, 0, 0);
    border-radius: 10px;
}
.hero-style button {
    box-shadow: rgb(3, 29, 101) 8px 10px 0px;
    border: 1px solid #fff;

}

.navbar-brand{
    color: #000 !important;
    font-weight: 800;
}

span .navbar-toggler-icon{
    color: #000 !important;
}


/* This is for download button color */
.btn-outline-secondary{
    color: #fff !important;
}

/* Change the button boder */

/* No Error */
.btn-download{
    text-decoration: none;
    color: #fff;
}
/* social buttons */
.fox{
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
}

.social {
    display: inline-flex;
    background-color: rgb(121, 59, 59);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    /* position: fixed; */
    top: 30%;
    left: 0;
}